Import

In [47]:
import pandas as pd
import numpy as np

Create dictionary

In [48]:
my_map = {"name": "name", "from": "from", "sex": "sex", "age": "age"}

In [49]:
 dict = [{'name': 'Tracy', 'from': 'Little Rock', 'sex':'female', 'age': 60},
         {'name': 'Mike', 'from': 'Reading', 'sex':'male', 'age': 54},
         {'name': 'Martina', 'from': 'Berlin', 'sex':'female', 'age':62},
         {'name': 'Gerry', 'from':'Heerlen', 'sex':'female', 'age': 80},
         {'name': 'Paz', 'from': 'Manila', 'sex':'female', 'age': 61},
         {'name': 'Doug', 'from': 'Aberdeen', 'sex':'male', 'age': 55},
         {'name': 'Jeff', 'from': 'Cardiff', 'sex':'male', 'age': 57},
         {'name': 'Cindy', 'from':'Little Rock', 'sex': 'female', 'age':60},
         {'name': 'Keith', 'from': 'Reading', 'sex': 'male', 'age':57},
         {'name': 'Adrian', 'from': 'Tercera', 'sex': 'male', 'age': 38},
         {'name': 'Katherine', 'from': 'Fayeteville', 'sex': 'female', 'age': 38}]

In [50]:
df = pd.DataFrame(dict).rename(columns=my_map)
print(df)

         name         from     sex  age
0       Tracy  Little Rock  female   60
1        Mike      Reading    male   54
2     Martina       Berlin  female   62
3       Gerry      Heerlen  female   80
4         Paz       Manila  female   61
5        Doug     Aberdeen    male   55
6        Jeff      Cardiff    male   57
7       Cindy  Little Rock  female   60
8       Keith      Reading    male   57
9      Adrian      Tercera    male   38
10  Katherine  Fayeteville  female   38

Feature Hasher

In [51]:
from sklearn.feature_extraction import FeatureHasher

hasher = FeatureHasher(n_features=10, alternate_sign=False)

vectors = hasher.transform(dict)
vectors

<11x10 sparse matrix of type '<class 'numpy.float64'>'
	with 40 stored elements in Compressed Sparse Row format>

In [52]:
vectors.shape

(11, 10)

Tfidf Transformer

In [53]:
from sklearn.feature_extraction.text import TfidfTransformer 

tf_transformer = TfidfTransformer().fit(vectors)
word_count_vec_tf = tf_transformer.transform(vectors)
word_count_vec_tf.shape

(11, 10)

In [54]:
df0 = pd.DataFrame(word_count_vec_tf.toarray())
df0

           0         1         2  ...         7         8         9
0   0.000000  0.000000  0.025614  ...  0.000000  0.000000  0.998609
1   0.000000  0.000000  0.056884  ...  0.000000  0.028442  0.997976
2   0.000000  0.038438  0.024790  ...  0.000000  0.000000  0.998697
3   0.000000  0.000000  0.000000  ...  0.029443  0.000000  0.999416
4   0.000000  0.000000  0.000000  ...  0.000000  0.025188  0.998373
5   0.043313  0.000000  0.027934  ...  0.000000  0.027934  0.998280
6   0.041776  0.041776  0.000000  ...  0.000000  0.026943  0.997890
7   0.000000  0.000000  0.025614  ...  0.000000  0.000000  0.998609
8   0.000000  0.000000  0.026948  ...  0.000000  0.026948  0.998077
9   0.000000  0.000000  0.000000  ...  0.062580  0.040360  0.996542
10  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.999383

[11 rows x 10 columns]

Sum values

In [55]:
df0_sum = df0.sum(axis=1)
df0_sum

0     1.087331
1     1.083302
2     1.084565
3     1.046201
4     1.092256
5     1.097460
6     1.108385
7     1.087331
8     1.100857
9     1.136340
10    1.034498
dtype: float64